.about{
    background-color: #d7ddbd;
}
#text{
    text-align: center;
}
.objective{
    background-color: #b2bcdb;
}
.card1{
    background: transparent;
}
.mission{
    background: rgb(134, 132, 132);
    color: white;
}
#mission{
    color: white;
    text-align: center;
}